src/main/mule/gittest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="gittestFlow" doc:id="acbda1bf-cced-456a-a6f1-3e6548ad18bf" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d94dcacf-f3be-4454-a74a-d5cbf3d39324" />
	</flow>
</mule>
